@import '../../styles/_variables.scss';

.portfolio {
  margin: 5rem .5rem;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-shadow: -1px 0 $greenColor, 0 1px $greenColor, 1px 0 $greenColor, 0 -1px $greenColor;
    margin: 0;
  }

  &__subtitle{
    font-size: 1rem;
    color: $greenColor;
    margin-bottom: 4rem;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

//Portfolio Cards

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: .5rem;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  background-color: $greenColor;
  border: 2px solid $greenColor;
  max-height: 367px;
  &__img {
    cursor: pointer;
    overflow: hidden;
    text-align: center; 
    
    img{
      max-height: 367px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title{
    color: $primaryBgColor;
    font-size: 1.2rem;
    padding: .5rem 0;
    transition: all .2s linear;
  }

  &__content {
    padding: 0 1rem 1rem;
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {
      margin-bottom: 1rem;
      color: $secondaryBgColor;
      font-size: 1.1rem;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &-stack {
      color: $primaryBgColor;
      font-size: 1.1rem;
    }

    &-links {
      img {
        object-fit: cover;
        width: 2.5rem;
        height: 2.5rem;
        margin-top: .5rem;
        transition: transform .2s linear;
  
        &:hover {
          transform: scale(1.1);
        }
        
      }
    }
  }
}

@media screen and (max-width: 768px){
  .card {
    &__img {
      img{
        max-width: 100%;
        height: auto;
      }
    }}
}
