$primaryBgColor: #191E2B;
$secondaryBgColor: #282D3F;

$yellowColor: #FED703;
$greenColor: #8EC891;
$redColor: #FF5F57;
$blueColor: #015ABC;
$pinkColor: #D18FF0;
$purplelColor: #A5ACD0;
$azureColor: #6AE0FF;
$lightBlue:#75A8FF;

$shadow: drop-shadow(0px 0px 20px rgba(165, 172, 208, 0.5));


