@import '../../styles/_variables.scss';

.container {
  width: 100%;
  max-width: 90rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
.header-wrapper{
  margin: 0 2rem;
}
.main{
  flex-grow: 1;
}

