@import '../../styles/_variables.scss';

.container {
  width: 100%;
  max-width: 90rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 1rem;
  //filter: $shadow;
  box-shadow: 0px 0px 20px rgba(165, 172, 208, 0.5);
  background-color: $primaryBgColor;
  margin: 2rem auto;
  border-radius: 1rem;
  max-width: 100rem;
  width: 100%;

  &__wrapper {
    margin: 0 2rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 4rem;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__links {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    padding-left: 2rem;
    color: $primaryBgColor;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: -1px 0 $azureColor, 0 1px $azureColor, 1px 0 $azureColor, 0 -1px $azureColor;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s linear, text-shadow .2s linear;

    &:hover {
      color: $azureColor !important;
      text-shadow: none !important;
    }

    &-purple {
      text-shadow: -1px 0 $yellowColor, 0 1px $yellowColor, 1px 0 $yellowColor, 0 -1px $yellowColor;

      &:hover,
      &.active {
        color: $yellowColor !important;
        text-shadow: none !important;
      }
    }

    &-red {
      text-shadow: -1px 0 $redColor, 0 1px $redColor, 1px 0 $redColor, 0 -1px $redColor;

      &:hover,
      &.active {
        color: $redColor !important;
        text-shadow: none !important;
      }
    }

    &-green {
      text-shadow: -1px 0 $greenColor, 0 1px $greenColor, 1px 0 $greenColor, 0 -1px $greenColor;

      &:hover,
      &.active {
        color: $greenColor !important;
        text-shadow: none !important;
      }
    }
  }

  &__burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;
    cursor: pointer;
  }

}

@media screen and (max-width: 992px) {
  .nav {
    &__links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -100vw;
      height: 100vh;
      background-color: $primaryBgColor;
      z-index: 100;
      overflow-y: none;
      margin: 0;
      padding: 0;
      width: 0;
      visibility: hidden;
      transition: all .5s ease;
    }

    &__link {
      display: block;
      padding: .5rem;
    }

    &__burger {
      display: block;
      cursor: pointer;
      &:hover {
        cursor: pointer;
      }
    }

  }

  .nav-bar,
  .nav-bar::before,
  .nav-bar::after {
    display: block;
    width: 40px;
    height: 5px;
    position: relative;
    border-radius: .3rem;
    background-color: $yellowColor;
    z-index: 100;
    transition: transform .2s ease;
  }

  .nav-bar::before,
  .nav-bar::after {
    content: "";
    position: absolute;
    top: 12;
    left: 0;
  }

  .nav-bar::before {
    background-color: $blueColor;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    top: -12px;
  }

  .nav-bar::after {
    background-color: $redColor;
    bottom: -12px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .show-nav .nav__links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .show-nav .nav-bar {
    background: transparent;
    width: 0;
  }

  .show-nav .nav-bar::before {
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .show-nav .nav-bar::after {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color: $purplelColor;
  filter: $shadow;

  &__made-with-love {
    color: $purplelColor;
    text-shadow: -1px 0 $primaryBgColor, 0 1px $primaryBgColor, 1px 0 $primaryBgColor, 0 -1px $primaryBgColor;
    line-height: 1.2;
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &__name {
    font-weight: 700;
    padding-right: 1rem;
  }

  &__social {
    padding-right: 1rem;
    margin-top: .5rem;
    line-height: 0;

    &-link {


      &:nth-last-child(2) {
        margin-right: .5rem;
      }

      img {
        height: 2rem;
        width: 2rem;
        transition: transform .2s linear;

        &:hover {
          transform: scale(1.1);
        }
      }

    }
  }
}

.heart {
  animation: heartbeat 1s infinite;
  background-color: $redColor;
  display: inline-block;
  height: .8rem;
  top: 0;
  transform: rotate(-45deg);
  left: 0;
  top: 0;
  width: .8rem;
  position: relative;
  margin-left: .8rem;

  &::before,
  &::after {
    content: "";
    background-color: $redColor;
    border-radius: 50%;
    height: .8rem;
    position: absolute;
    width: .8rem;
  }

  &::before {
    top: -8px;
    left: 0;
  }

  &::after {
    left: 8px;
    top: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  20% {
    transform: scale(1.1) rotate(-45deg);
  }

  40% {
    transform: scale(1.2) rotate(-45deg);
  }
}

.btns{
  display: flex;
}

.right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}